main {
	margin: 20px 0;

	table {
		width: 100%;
		border-collapse: separate;
		border-spacing: 0 15px;

		td {
			padding: 10px 5px;
		}

		thead {
			outline: 1px solid #ddd;
			background-color: #F5F5F5;

			tr {
				height: 50px;
			}
		}

		tbody {
			tr {
				padding: 10px;
				box-sizing: border-box;
				outline: 1px solid #ddd;
				background-color: #FFFBF0;
				font-size: 14px;

				.detail {
					display: flex;
					gap: 10px;

					.img-con {
						border: 1px solid #ddd;
						background-color: #F4F4F4;

						img {
							width: 100px;
							height: 100px;
						}
					}

					.desc {
						display: flex;
						flex-direction: column;
						justify-content: center;

						.title {
							color: #333;
						}

						.sku {
							font-size: 12px;
							color: #999;
						}
					}
				}
			}
		}
	}

	.table-bottom {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 70px;
		width: 100%;
		border: 1px solid #ddd;
		background-color: #F5F5F5;

		.total {
			margin-right: 10px;

			span {
				color: #BE4141;
				font-size: 22px;
				font-weight: bold;
			}
		}

		input {
			width: 140px;
			height: 100%;
			border: none;
			background-color: #B4A078;
			color: white;
			font-size: 18px;
		}
	}
}