main .container {
  padding: 20px 0;
}
main .container .main-content {
  display: flex;
  justify-content: space-between;
}
main .container .main-content .main-content-right {
  position: relative;
  width: 620px;
}
main .container .main-content .main-content-right .right-top h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 7px;
}
main .container .main-content .main-content-right .right-top p {
  font-size: 14px;
  color: #999999;
}
main .container .main-content .main-content-right .right-top .rating-con {
  position: absolute;
  top: 0;
  right: 0;
}
main .container .main-content .main-content-right .right-top .rating-con p:nth-child(1) {
  font-size: 20px;
  color: #E36844;
}
main .container .main-content .main-content-right .right-top .rating-con p:nth-child(2) {
  font-size: 13px;
  color: #333;
}
main .container .main-content .main-content-right .right-main {
  background-color: #F5F3EF;
  margin: 13px 0;
  padding: 16px;
  box-sizing: border-box;
  border-top: 1px dashed #E5E5E5;
  border-bottom: 1px dashed #E5E5E5;
  font-size: 13px;
}
main .container .main-content .main-content-right .right-main > div > span:first-of-type {
  display: inline-block;
  color: #666;
  height: 30px;
  width: 30px;
}
main .container .main-content .main-content-right .right-main > div > :not(:nth-child(1)) {
  color: #333;
}
main .container .main-content .main-content-right .right-main > div > :not(:nth-child(1)) span {
  margin-right: 10px;
}
main .container .main-content .main-content-right .right-main > div:first-of-type {
  height: 50px;
}
main .container .main-content .main-content-right .right-main > div:first-of-type :nth-child(2) {
  color: #D7282D;
  font-size: 18px;
}
main .container .main-content .main-content-right .right-main > div:first-of-type :nth-child(2) span {
  font-size: 28px;
}
main .container .main-content .main-content-right .right-main > div:nth-child(2) :nth-child(2) {
  color: white;
  padding: 1px 5px;
  background-image: linear-gradient(270deg, #FF8659 0, #FE2C30 100%);
}
main .container .main-content .main-content-right .choose-con {
  display: flex;
  height: 50px;
  margin: 16px;
  gap: 10px;
  box-sizing: border-box;
  align-items: center;
  font-size: 13px;
}
main .container .main-content .main-content-right .choose-con .choose-content {
  display: flex;
  gap: 10px;
}
main .container .main-content .main-content-right .choose-con .choose-content .choose-item {
  display: flex;
  position: relative;
  gap: 10px;
  height: 50px;
  width: 50px;
  background-color: #F4F4F4;
  box-sizing: border-box;
  border: 1px solid #DDD;
}
main .container .main-content .main-content-right .choose-con .choose-content .choose-item img {
  height: 50px;
  width: 50px;
}
main .container .main-content .main-content-right .choose-con .choose-content .choose-item:hover span {
  display: block;
}
main .container .main-content .main-content-right .choose-con .choose-content .choose-item span {
  display: none;
  position: absolute;
  bottom: -20px;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  padding: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  white-space: nowrap;
  height: 30px;
  line-height: 18px;
  z-index: 10;
  top: 60px;
  left: 15px;
}
main .container .main-content .main-content-right .selected {
  border: 2px solid #b4a078 !important;
}
main .container .main-content .main-content-right .step-num {
  display: flex;
  height: 50px;
  margin: 16px;
  gap: 10px;
  box-sizing: border-box;
  align-items: center;
  font-size: 13px;
}
main .container .main-content .main-content-right .buy a {
  margin-left: 10px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 168px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
}
main .container .main-content .main-content-right .buy a:nth-of-type(1) {
  color: #b4a078;
  border: 1px solid #b4a078;
  background-color: #f5f3ef;
}
main .container .main-content .main-content-right .buy a:nth-of-type(2) {
  color: #fff;
  border: 1px solid #b4a078;
  background-color: #b4a078;
}

/*# sourceMappingURL=detail.css.map */
