* {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

.container {
    width: 1090px;
    margin: 0 auto;
}


.clear:after {
    content: ".";
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}

.clear {
    zoom: 1;
}