.login {
	.container {
		display: flex;
		position: relative;
		flex-direction: row-reverse;

		.login-box {
			width: 385px;
			height: 480px;
			position: absolute;
			background: white;
			text-align: center;
			box-sizing: border-box;
			padding-top: 60px;
			-webkit-box-shadow: 1px 1px 9px -1px rgba(0, 0, 0, 0.67);
			box-shadow: 1px 1px 9px -1px rgba(0, 0, 0, 0.67);
			top: -550px;

			.login-content {
				height: 100%;

				.qr {
					img {
						border: 10px white solid;
						-webkit-box-shadow: 1px 1px 9px -1px rgba(0, 0, 0, 0.67);
						box-shadow: 1px 1px 9px -1px rgba(0, 0, 0, 0.67);
						margin-bottom: 20px;
					}

					p:first-of-type {
						font-weight: 800;
						font-size: 20px;
						margin-bottom: 50px;
					}
				}

				.form {
					height: 100%;

					form {
						height: 100%;

						display: flex;
						flex-direction: column;
						box-sizing: border-box;
						//padding: 30px;
						gap: 50px;
						padding-top: 50px;
						//justify-content: center;
						align-items: center;

						label {
							font-size: 25px;
							display: inline-block;
							width: 30px;
							height: 30px;
						}

						> div {
							width: 300px;
						}
						input {
							height: 38px;
							border: 1px solid gray;
							outline: none;
							width: 260px;

						}

						button {
							width: 300px;
							background: #B4A078;
							border: none;
							height: 48px;
							color: white;
							font-size: 18px;
						}
					}
				}
			}


			.switch-login {
				position: absolute;
				top: 0;
				left: 0;

				img:nth-of-type(1) {
					height: 60px;
					width: 60px;
				}

				img:nth-of-type(2) {
					height: 20px;
					width: 105px;
					position: absolute;
					top: 10px;
					left: 50px;
				}
			}

			span {
				color: #CC9756;
			}

			.login-bottom {
				height: 60px;
				background: #F5F3EF;
				width: 100%;
				position: absolute;
				bottom: 0;
				display: flex;
				align-items: center;
				flex-direction: row-reverse;

				a {
					color: gray;
					font-size: 12px;
					margin-right: 10px;
				}
			}
		}
	}
}

main .container {
	padding-top: 60px;
	padding-bottom: 35px;
	display: flex;
	justify-content: space-around;
	align-items: center;

	> div {
		flex: 1;
		height: 204px;

		> p:not(:first-of-type) {
			font-size: 14px;
			line-height: 18px;
		}
	}

	> div:nth-of-type(-n+2) {
		border-right: #CBCBCB 1px solid;
	}

	.middle {
		padding-right: 35px;
		padding-left: 35px;
		box-sizing: border-box;

		> p:first-of-type {
			text-align: center;
		}

		p:nth-of-type(-n+2) {
			margin-bottom: 20px;
		}
	}

	.right {
		display: flex;
		justify-self: center;
		align-items: center;

		> div {
			display: inline-block;
			text-align: center;
			margin: 0 auto;

			p {
				margin-top: 20px;
				margin-bottom: 20px;
			}
		}
	}
}

footer {
	background: #414141;
	padding-top: 30px;
	padding-bottom: 30px;
}


