main {
  background-color: #F5F5F5;
  width: 100%;
  padding: 30px;
}
main .container {
  background-color: #fff;
  padding: 40px;
  box-sizing: border-box;
}
main .container .top {
  margin-bottom: 50px;
}
main .container .top > div {
  font-size: 14px;
  padding: 10px 0;
  border-bottom: 1px dashed #999;
}
main .container .top > div span {
  color: #999;
}
main .container .top > div a {
  margin: 0 10px;
}
main .container .content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
main .container .content .item:hover {
  background-color: #F4F0EA;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}
main .container .content .item:hover .img-1 {
  display: none;
}
main .container .content .item:hover .img-2 {
  display: block;
}
main .container .content .item:hover .title:hover a {
  color: #B4A078;
}
main .container .content .item {
  height: 400px;
  width: 245px;
  margin-bottom: 40px;
}
main .container .content .item .img-1, main .container .content .item .img-2 {
  margin-bottom: 20px;
}
main .container .content .item .img-1 img, main .container .content .item .img-2 img {
  width: 245px;
  height: 245px;
}
main .container .content .item .img-2 {
  display: none;
}
main .container .content .item .info {
  padding: 10px 0;
  text-align: center;
}
main .container .content .item .info .title {
  font-size: 13px;
  color: #333;
  height: 35px;
  font-weight: 800;
  margin-bottom: 10px;
}
main .container .content .item .info .price {
  width: 130px;
  display: inline-block;
  border-bottom: 1px dashed #999;
  padding: 10px 0;
  margin-bottom: 10px;
  font-size: 13px;
  color: #D4282D;
}
main .container .content .item .info .desc {
  font-size: 13px;
  color: #999;
}